<b>Weather History for:
$location.city, $location.region, $location.country</b><br/>

<ul>
#foreach($weather in $weathers)
  <li>Temperature: $weather.condition.temp</li>
  <li>Condition: $weather.condition.text</li>
  <li>Humidity: $weather.atmosphere.humidity</li>
  <li>Wind Chill: $weather.wind.chill</li>
  <li>Date: $weather.date</li>
#end
</ul>